<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
           <h1>Pais:
            <small>{{pais.name.common}}</small>
           </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png" alt="" class="img-thumbnail">
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">Poblacion <strong>{{pais.population}}</strong></li>
                <li class="list-group-item">Codigo numerico <strong>{{pais.ccn3}}</strong></li>
                <li class="list-group-item">Codigo Alpha 3 <strong>{{pais.cca3}}</strong></li>
                
            </ul>
        </div>
        <h3>Traducciones</h3>
        <div class="row" >
            <div class="col">
                <span class="badge bg-primary mr-1">{{pais.translations['deu'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['jpn'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['pol'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['spa'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['swe'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['fra'].official}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['est'].official}}</span>
                
            </div>
        </div>
    </div>
</ng-template>


