<div class="animate__animated animate__fadeIn animate__faster">
<h2>Por pais</h2>
<hr>
<div class="row">
    <div class="col">
      <app-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar por Pais"
      ></app-input>
    </div> 
    
</div> 
<ul class="list-group" *ngIf="mostrarSuge">
    <li  *ngFor="let pais of sugerenciaPaises" class="list-group-item list-group-item-action">
        {{pais.name.common}}
       
    </li>
    <li class="list-group-item list-group-item-action"
    (click)="buscarSugerido(termino)"
     >
        <a class="nav-link">
            Buscar {{termino}}
        </a>
    </li>
</ul>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
        No se encontro nada con el termino {{termino}}
</div>
<div *ngIf="!hayError" class="row">
    <div class="col">
        <app-tabla 
        [paises]="paises"></app-tabla>
    </div>
</div>