<h2>
    Busquedas
</h2>
<hr>
<ul class="list-group">
        <li
        routerLinkActive="active" 
        routerLink=" " 
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
            Buscar Pais
        </li>
        <li 
        routerLinkActive="active" 
        routerLink="region"
        class="list-group-item"  >Por Region
    </li>
        <li 
        routerLinkActive="active" 
        routerLink="capital"
        class="list-group-item">Por capital
    </li>
</ul> 